<configuration>
    <appSettings>
        <add key="GetTradesURL" value="https://api.market.mosreg.ru/api/Trade/GetTradesForParticipantOrAnonymous"/>
        <add key="GetTradesDocuments" value="https://api.market.mosreg.ru/api/Trade/%tradeId%/GetTradeDocuments"/>
        <add key="GetTradesDetail" value="https://market.mosreg.ru/Trade/ViewTrade/%tradeId%"/>
    </appSettings>
</configuration>